@page
@model OdeToFood.Pages.Restaurants.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<h1>Your Restaurant Page not found :(</h1>
<a asp-page="./List" class="btn btn-outline-dark">See All Restaurants</a>

